body{
    background-color: #0e0e0e;
    color: white;
    margin: 0;
    overflow-x: hidden;
    font-family: Montserrat;
}

a{
    color: white;
    text-decoration: none;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    margin: 2rem 0;
    font-family: "Montserrat SemiBold";
}

nav p{
    margin: 0 3rem;
    font-size: 1.5rem;
}

nav a {
    font-size: 1rem;
    margin: 1rem 3rem;
}

nav a:hover{
    text-decoration: underline;
    text-underline-offset: 0.4rem;
}

/**********************ALLLIVRE******************************/

.grid{
    margin: 4rem 0 ;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    text-align: center;
}

.grid article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.grid article a:hover+a:last-child{
    text-underline-offset: 0.4rem;
    text-decoration: underline;
}

.grid article a:last-child:hover{
    text-underline-offset: 0.4rem;
    text-decoration: underline;
}

.grid article a:last-child {
    margin-top: 1rem;
}

.grid_img {
    width: 10rem;
}

/*********************HOME/CATEGORIE*******************************/

.secCat{
    margin-top: 5rem;
}

.secCat>a>div{
    display: flex;
    align-items: center;
    width:100vw;
    height: 10rem;
}

.catleft{
    background: linear-gradient(to right, black, #0e0e0e 60%);
}

.catright{
    justify-content: flex-end;
    background: linear-gradient(to left, black, #0e0e0e 60%);
}

.titleL{
    margin-left: 8rem;
    font-size: 2rem;
}

.titleR{
    margin-right: 8rem;
    font-size: 2rem;
}

/********************HOME********************************/
.imgcol{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 15rem !important;
}

.titreHome{
    font-family: "Montserrat Light";
    font-size: 1.2rem;
    text-align: center;
    margin: 5rem 0;
}

/********************CATEGORIE********************************/

.secCat>div{
    display: flex;
    align-items: center;
    width:100vw;
    height: 10rem;
}

.desccat{
    font-size: 0.8rem !important;
}
.nomcat{
    font-size: 1.5rem !important;
    margin: 0.5rem 0;
}

.btn{
    font-size: 0.7rem;
}

.secCat .cat{
   display: flex;
    align-items: center;
}

.divBtn {
    display: flex;
    justify-content: center;
}

.divBtn a{
    margin: 0 2rem;
}

.divBtn a:hover{
   text-decoration: underline;
    text-underline-offset: 0.4rem;
}

.divTextR{
    width: 40%;
    text-align: right;
    margin-right: 3rem;
}

.divTextL{
    width: 40%;
    text-align: left;
    margin-left: 3rem;
}

/********************ONE LIVRE********************************/

.livre{
    padding: 4rem;
}

.titleLivre{
    font-size: 1.5rem;
    font-family: "Montserrat Light";
}

.imgLivre{
    width: 20%;
    margin: 1rem 2rem 1rem 0;
}

.livre>div{
    display: flex;
}

.divInfoLivre{
    font-size: 0.8rem;
    width: 60%;
    border-left : 1px solid white;
    padding-left: 2rem;
}

.divInfoLivre div{
    margin-top: 3rem;
}

.divInfoLivre div a{
    font-family: "Montserrat Medium";
    margin-right: 2rem;
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    transition: all 100ms linear;
}

.divInfoLivre div a:hover {
    background-color: white;
    color: black;
}

.div_com{
    display: flex;
    align-items: center;
}

.div_com .com{
    margin: 1rem;
}

/*******************CREATE***************/

.div_choix_create{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.div_choix_create a{
    margin: 2rem;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 10px;
    transition: all linear 200ms;
}

.div_choix_create a:hover{
    background-color: white;
    color: black;
}

.form{
    margin: 4rem 2rem;
}



