{% extends 'base.html.twig' %}

{% block body %}
    <div class="grid">
    {% for livre in livres %}
        {% if app.request.get('_route') == 'allLivre' %}
        <article>
            <a href="{{ path('livre_readone', {id:livre.id}) }}"><img class="grid_img" src="img/{{ livre.imgBook }}"></a>
            <a href="{{ path('livre_readone', {id:livre.id}) }}">{{ livre.titreBook }}</a>
        </article>
        {% else %}
            <article>
                <a href="{{ path('livre_readone', {id:livre.id}) }}"><img class="grid_img" src="../img/{{ livre.imgBook }}"></a>
                <a href="{{ path('livre_readone', {id:livre.id}) }}">{{ livre.titreBook }}</a>
            </article>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}