<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bibliothèque{% endblock %}</title>
    <link href="/css/style.css" rel="stylesheet">
    {% block javascripts %}{% endblock %}
</head>
<body>
<nav>
    <div class="left">
        <p>Bibliothèque</p>
    </div>
    <div class="right">
        <a href="{{ path('home') }}">Accueil</a>
        <a href="{{ path('allLivre') }}">Tous les livres</a>
        <a href="{{ path('categorie') }}">Par catégorie</a>
        <a href="{{ path('create') }}">Ajout de contenu</a>
    </div>
</nav>
{% block body %}{% endblock %}
</body>
</html>

