{% extends 'base.html.twig' %}
{% block body %}
    {% if app.request.get('_route') == 'categorie' %}
    <section class="secCat">
        {% for genre in cat %}
            {% if (genre.id%2==0) %}
            <a href="{{ path ('allLivre_cat', {id:genre.id}) }}">
                <div class="cat catright">

                    <div class="divTextR">
                        <p class="nomcat">{{ genre.nomCat }}</p>
                        <p class="desccat">{{ genre.descCat }}</p>
                        <div class="divBtn">
                            <a href="{{ path('categorie_delete', {id:genre.id}) }}" class="btn">Supprimer</a>
                            <a href="{{ path('cat_up', {id:genre.id}) }}" class="btn">Modifier</a>
                        </div>
                    </div>
                </div>
            </a>
            {% else %}
            <a href="{{ path ('allLivre_cat', {id:genre.id}) }}">
                <div class="cat catleft">
                    <div class="divTextL">
                        <p class="nomcat">{{ genre.nomCat }}</p>
                        <p class="desccat">{{ genre.descCat }}</p>
                        <div class="divBtn">
                            <a href="{{ path('categorie_delete', {id:genre.id}) }}" class="btn">Supprimer</a>
                            <a href="{{ path('cat_up', {id:genre.id}) }}" class="btn">Modifier</a>
                        </div>
                    </div>

                </div>
            </a>
            {% endif %}
        {% endfor %}
    </section>
    {% else %}
        <h1>La catégorie a bien été supprimée</h1>
    {% endif %}
{% endblock %}