{% extends 'base.html.twig' %}
{% block body %}
        {% if app.request.get('_route') == 'create' %}
        <div class="div_choix_create">
                <a class="choix" href="{{ path('create_livre') }}">Ajouter un livre</a>
                <a class="choix" href="{{ path('create_cat') }}">Ajouter une catégorie</a>
        </div>
        {% elseif app.request.get('_route') == 'create_livre' %}
        <div class="form">
                <h1>Creation d'un nouveau livre</h1>
                {{ include('form.html.twig') }}
        </div>
        {% elseif app.request.get('_route') == 'create_com' %}
        <div class="form">
                <h1>Creation d'un nouveau commentaire</h1>
                {{ include('form.html.twig') }}
        </div>
        {% else %}
        <div class="form">
                <h1>Creation d'une nouvelle categorie</h1>
                {{ include('form.html.twig') }}
        </div>
        {% endif %}
{% endblock %}