{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="titreHome">{{ titre }}</h1>
    <section class="secCat">
        {% for col in livres %}
            {% if (col.id%2==0) %}
                <a href="{{ path ('allLivre_col', {id:col.id}) }}">
                    <div class="catright imgcol" style="background-image: linear-gradient(to left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 19%, rgba(255,255,255,0) 100%), url('img/{{ col.imgCol }}')">
                        <p class="titleR">{{ col.nomCol }}</p>
                    </div>
                </a>
            {% else %}
                <a href="{{ path ('allLivre_col', {id:col.id}) }}">
                    <div class="catleft imgcol" style="background-image:linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 19%, rgba(255,255,255,0) 100%), url('img/{{ col.imgCol }}')">
                        <p class="titleL">{{ col.nomCol }}</p>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </section>
{% endblock %}