{% extends 'base.html.twig' %}
{% block body %}
    {% if app.request.get('_route') == 'livre_readone' %}
        <section class="livre">
            <h1 class="titleLivre">{{ livre.titreBook }}</h1>
            <div>
                <img src="/img/{{ livre.imgBook }}" class="imgLivre">
                <div class="divInfoLivre">
                    <p>Résumé : {{ livre.descBook }}</p>
                    <p>Auteur : {{ livre.auteurBook }}</p>
                    <p>Prix : {{ livre.prixBook }}€</p>
                    <div>
                        <a href="{{path('livre_delete',{id:livre.id})}}">Supprimer</a>
                        <a href="{{ path('livre_up',{id:livre.id}) }}">Modifier</a>
                    </div>
                </div>

            </div>

            <h3>Espace commentaire</h3>
            <div>
                <a href="{{ path('create_com',{id:livre.id})}}">Ajouter un commentaire</a>
            </div>
            <div class="div_com">
                {% for coms in com %}
                <article class="com">
                    <p>{{ coms.userCom }} {{ coms.dateCom|date("m/d/Y")}}</p>
                    <p>{{ coms.contenuCom }}</p>
                </article>
                {% endfor %}
            </div>
        </section>
    {% else %}
        <h1>Le livre a bien été supprimé</h1>
    {% endif %}
{% endblock %}