{% extends 'base.html.twig' %}
{% block body %}
    {% if app.request.get('_route') == 'livre_up' %}

        <h1>Creation d'un nouveau livre</h1>
        {{ include('form.html.twig') }}

    {% else %}

        <h1>Creation d'une nouvelle categorie</h1>
        {{ include('form.html.twig') }}

    {% endif %}
{% endblock %}